nav {
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed; /* Fixes the navbar to the top */
  top: 0; /* Positions it at the top of the viewport */
  left: 0; /* Aligns it to the left */
  right: 0; /* Aligns it to the right */
  z-index: 1000; /* Ensures it stays above other content */
}

.container-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.container-write-a-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-title {
  font-family: 'Bungee', sans-serif;
}

.fa-solid {
  color: red;
}

