.avatar-small {
  width: 75px;
  height: 75px;
}

.old-tweet-section {
  margin: 30px 0px;
  border: 3px solid black;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: 200px;
  padding: 10px;
}

.old-tweet-section:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 

.old-tweet-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.old-tweet-userid {
  display: flex;
  align-items: center;
}

.old-tweet-handle {
  color: lightgray;
  font-weight: bolder;
}
.old-tweet {
  display: flex;
  flex-direction: column;
  padding: 10px 2px;
}

.old-tweet-text-box {
  background-color: inherit;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid black;
  resize: none;
}

.old-tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.old-tweet-timestamp {
  font-size: 16px;
}

.fa-flag, .fa-retweet, .fa-heart {
  color: #4056A1;
}

.old-tweet-button-bar i:hover {
  color: #FFD43B;
}
